<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>柠檬音乐</title>
  <meta name="application-name" content="柠檬音乐">
  <meta name="description" content="免费听QQ音乐付费歌曲的WebApp">
  <link rel="icon" type="image/png" href="static/favicon.ico">
 
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
  <meta name="theme-color" content="#00BCD4">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- QQ Mobile Browser -->
  <meta name="x5-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">

  <!-- UC Mobile Browser -->
  <meta name="screen-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="imagemode" content="force">
  <meta name="browsermode" content="application">
  <meta name="nightmode" content="disable">
  <meta name="layoutmode" content="fitscreen">
  <meta name="wap-font-scale" content="no">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="柠檬音乐">
  <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
  <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#4DBA87">
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#40C4FF">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

  <script>
    // mui.init({
    //   keyEventBind: {
    //     backbutton: true //关闭back按键监听
    //   }
    // });
    // // //首页返回键处理
    // // //处理逻辑：1秒内，连续两次按返回键，则退出应用；
    // var first = null;
    // mui.back = function() {
    //   //首次按键，提示 再按一次退np出应用
    //   if (!first) {
    //     first = new Date().getTime(); //记录第一次按下回退键的时间
    //     mui.toast("再按一次退出应用"); //给出提示
    //     history.go(-1); //回退到上一页面
    //     setTimeout(function() {
    //       //1s中后清除
    //       first = null;
    //     }, 1000);
    //   } else {
    //     if (new Date().getTime() - first < 1000) {
    //       //如果两次按下的时间小于1s，
    //       plus.runtime.quit(); //那么就退出app
    //     }
    //   }
    // };

    </script>
  <div id="app"></div>
  <!-- built files will be auto injected -->

</body>

</html>
