// // 颜色定义规范
// $color-playlist-bg = rgba(0, 0, 0, 0.85)
// $color-border=rgba(255,255,255,0.1)
// // $color-background = #18251f
// $color-background = #222
// $color-background-dd = #111
// $color-background-d = rgba(0, 0, 0, 0.3)
// // $color-highlight-background = #254436
// $color-highlight-background = #333
// $color-dialog-background = rgb(63, 177, 128)
// // $color-dialog-background = #666
// $color-theme =#31c27c
// $color-theme-d = rgba(49,194,124,0.5)
// $color-sub-theme = #d93f30
// $color-text = #fff
// $color-text-h = #fff
// $color-text-d = rgba(255, 255, 255, 0.3)
// $color-text-l = rgba(255, 255, 255, 0.5)
// $color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-small-m = 13px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-large-xx = 24px


// 颜色定义规范
$color-playlist-bg = rgb(255, 255, 255)

$color-border=rgba(0,0,0,0.1)
// $color-background = #18251f
$color-background = #f4f4f4
$color-background-dd = #f2f2f2
$color-background-d = #f3f3f3
// $color-highlight-background = #254436
$color-highlight-background = #fff
$color-dialog-background = #31c27c
// $color-dialog-background = #666
$color-theme = #31c27c
$color-theme-d = rgba(49,194,124,0.5)
$color-sub-theme = #d93f30
$color-text = #000
$color-text-h = #fff
$color-text-d = rgba(0, 0, 0, 0.4)
$color-text-l = rgba(0, 0, 0, 0.5)
$color-text-ll = rgba(0, 0, 0, 0.8)

$color-green=#31c27c
$color-yellow=#f1f13d
$color-pink=#fa7fbd
$color-blue=#50baf8
$color-red=#f96666