// // 颜色定义规范
// $color-playlist-bg = rgba(0, 0, 0, 0.85)
// $color-border=rgba(255,255,255,0.1)
// // $color-background = #18251f
// $color-background = #222
// $color-background-dd = #111
// $color-background-d = rgba(0, 0, 0, 0.3)
// // $color-highlight-background = #254436
// $color-highlight-background = #333
// $color-dialog-background = rgb(63, 177, 128)
// // $color-dialog-background = #666
// $color-theme =#31c27c
// $color-theme-d = rgba(49,194,124,0.5)
// $color-sub-theme = #d93f30
// $color-text = #fff
// $color-text-h = #fff
// $color-text-d = rgba(255, 255, 255, 0.3)
// $color-text-l = rgba(255, 255, 255, 0.5)
// $color-text-ll = rgba(255, 255, 255, 0.8)

// 字体定义规范
$font-size-small-s = 10px;
$font-size-small = 12px;
$font-size-small-m = 13px;
$font-size-medium = 14px;
$font-size-medium-x = 16px;
$font-size-large = 18px;
$font-size-large-x = 22px;
$font-size-large-xx = 24px;
// 颜色定义规范
$color-playlist-bg = rgb(255, 255, 255);
$color-border = rgba(0, 0, 0, 0.1);
// $color-background = #18251f
$color-background = #eee;
// $color-highlight-background = #254436
$color-highlight-background = #fff;
$color-dialog-background = #31c27c;
// $color-dialog-background = #666
$color-theme = #31c27c;
$color-theme-d = rgba(49, 194, 124, 0.5);
$color-sub-theme = #d93f30;
$color-text = #000;
$color-text-h = #fff;
$color-text-d = rgba(0, 0, 0, 0.4);
$color-text-l = rgba(0, 0, 0, 0.5);
$color-text-ll = rgba(0, 0, 0, 0.8);
$color-green = #31c27c;
$color-yellow = #f1f13d;
$color-pink = #fa7fbd;
$color-blue = #50baf8;
$color-red = #f96666;
$top-height = 60px;

.mu-dialog-title {
  color: $color-theme;
}

.mu-item {
  min-height: 44px;
  padding: 0px;
}

.mu-item-right {
  right: 0px;
}

.mu-item.show-right {
  padding-right: 40px;
}

.mu-item.show-left {
  padding-left: 48px;
}

.material-icons {
  font-size: 26px;
}

.mu-text-field{
  width 300px;
  }

.mu-appbar-title {
  font-size: 18px;
}
.demo-popup-top {
  width: 100%;
  opacity: .8;
  height: 48px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 375px;
}
.mv-icon {
  margin-right: 6px;
  color: rgba(0, 0, 0, 0.2);
}
.slide-enter-active, .slide-leave-active {
  transition: all 0.3s;
}

.slide-enter, .slide-leave-to {
  transform: translate3d(100%, 0, 0);
}